{% extends 'base.html' %}
{% load staticfiles %}
{#标题#}
{% block title %}{{ index_seo.title }}{% endblock %}
{#关键词#}
{% block keywords %}{{ index_seo.keywords }}{% endblock %}
{#描述#}
{% block description %}{{ index_seo.description }}{% endblock %}

{% block custom_css %}
{% endblock %}
{% block body_start %}
    <body class="style-games single-post bg-light">
{% endblock %}
{% block content %}
    <div class="main-container container pt-40" id="main-container">

        <!-- Content -->
        <div class="row">

            <!-- Posts -->
            <div class="col-lg-8 blog__content mb-72">
                <h1 class="page-title">热门资讯</h1>
                {% for hot_article in hot_articles %}
                    <article class="entry card post-list">
                        <div class="entry__img-holder post-list__img-holder card__img-holder"
                             style="background-image: url({{ MEDIA_URL }}{{ hot_article.img }})">
                            <a href="{% url 'article:article' hot_article.id %}" class="thumb-url"></a>
                            <img src="{{ MEDIA_URL }}{{ hot_article.img }}" alt="" class="entry__img d-none">
                            <a href="{% url 'category:category' hot_article.category.id %}"
                               style="background-color: {{ hot_article.category.color }}"
                               class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner ">{{ hot_article.category }}</a>
                        </div>

                        <div class="entry__body post-list__body card__body">
                            <div class="entry__header">
                                <h2 class="entry__title">
                                    <a href="{% url 'article:article' hot_article.id %}">{{ hot_article.title }}</a>
                                </h2>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>来自</span>
                                        <a href="#">{{ hot_article.user.nick_name }}</a>
                                    </li>
                                    <li class="entry__meta-date">
                                        {{ hot_article.modified_time }}
                                    </li>
                                </ul>
                            </div>
                            <div class="entry__excerpt">
                                <p>{{ hot_article.body|striptags|safe|truncatechars:80 }}</p>
                            </div>
                        </div>
                    </article>
                {% endfor %}

                <!-- Pagination -->
                <nav class="pagination">
                    <span class="pagination__page pagination__page--current">1</span>
                    <a href="#" class="pagination__page">2</a>
                    <a href="#" class="pagination__page">3</a>
                    <a href="#" class="pagination__page">4</a>
                    <a href="#" class="pagination__page pagination__icon pagination__page--next"><i
                            class="ui-arrow-right"></i></a>
                </nav>
            </div> <!-- end posts -->

            <!-- Sidebar -->
            <aside class="col-lg-4 sidebar sidebar--right">

                <!-- Widget Popular Posts -->
                <aside class="widget widget-popular-posts">
                    <h4 class="widget-title">相关指南</h4>
                    <ul class="post-list-small">
                        {% for guide_article in guide_articles %}
                            <li class="post-list-small__item">
                                <article class="post-list-small__entry clearfix">
                                    <div class="post-list-small__img-holder">
                                        <div class="thumb-container thumb-100">
                                            <a href="{% url 'article:article' guide_article.id %}">
                                                <img data-src="{{ MEDIA_URL }}{{ guide_article.img }}"
                                                     src="{% static 'img/empty.png' %}"
                                                     alt="" class=" lazyload">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="post-list-small__body">
                                        <h3 class="post-list-small__entry-title">
                                            <a href="{% url 'article:article' guide_article.id %}">
                                                {{ guide_article.title }}
                                            </a>
                                        </h3>
                                        <ul class="entry__meta">
                                            <li class="entry__meta-author">
                                                <span>来自</span>
                                                <a href="#">{{ guide_article.user.nick_name }}</a>
                                            </li>
                                            <li class="entry__meta-date">
                                                {{ guide_article.modified_time }}
                                            </li>
                                        </ul>
                                    </div>
                                </article>
                            </li>
                        {% endfor %}
                    </ul>
                </aside> <!-- end widget popular posts -->
            </aside> <!-- end sidebar -->

        </div> <!-- end content -->
    </div> <!-- end main container -->
{% endblock %}
{% block custom_js %}
{% endblock %}
{% block body_end %}
    </body>
{% endblock %}