{% extends 'base.html' %}
{% load staticfiles %}
{#标题#}
{% block title %}{{ index_seo.title }}{% endblock %}
{#关键词#}
{% block keywords %}{{ index_seo.keywords }}{% endblock %}
{#描述#}
{% block description %}{{ index_seo.description }}{% endblock %}

{% block custom_css %}
{% endblock %}
{% block body_start %}
    <body class="style-games single-post bg-light">
{% endblock %}


{% block custom_bread %}
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="{% url 'index:index' %}" class="breadcrumbs__url">首页</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="{% url 'category:category' category.id %}" class="breadcrumbs__url">{{ category.name }}</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}

    <div class="main-container container" id="main-container">
        <!-- Content -->
        <div class="row">

            <!-- Posts -->
            <div class="col-lg-8 blog__content mb-72">
                <h1 class="page-title">{{ category.name }}</h1>

                <div class="row card-row">
                    {% for category_all_article in category_all_articles.object_list %}
                        <div class="col-md-6">
                            <article class="entry card">
                                <div class="entry__img-holder card__img-holder">
                                    <a href="{% url 'article:article' category_all_article.id %}">
                                        <div class="thumb-container thumb-70">
                                            <img data-src="{{ MEDIA_URL }}{{ category_all_article.img }}"
                                                 src="{% static 'img/empty.png' %}"
                                                 class="entry__img lazyload" alt=""/>
                                        </div>
                                    </a>
                                    {#                                    <a href="#"#}
                                    {#                                       class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--violet">{{ category.name }}</a>#}
                                </div>

                                <div class="entry__body card__body">
                                    <div class="entry__header">

                                        <h2 class="entry__title">
                                            <a href="{% url 'article:article' category_all_article.id %}">{{ category_all_article.title }}</a>
                                        </h2>
                                        <ul class="entry__meta">
                                            <li class="entry__meta-author">
                                                <span>来自</span>
                                                <a href="#">{{ category_all_article.user.nick_name }}</a>
                                            </li>
                                            <li class="entry__meta-date">
                                                {{ category_all_article.modified_time }}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="entry__excerpt">
                                        <p>{{ category_all_article.excerpt|truncatechars:43 }}</p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>

                <!-- Pagination -->
                <nav class="pagination">
                    <a href="{% url 'category:category' category.id %}" class="pagination__page">
                        <i class="ui-arrow-left"></i>
                        <i class="ui-arrow-left"></i>
                    </a>
{#                    <a href="{% url 'category:category' category.id %}" class="pagination__page">#}
{#                        <span class="pagination__page pagination__page--current">首页</span>#}
{#                    </a>#}
                    {% if category_all_articles.has_previous %}
                        <a href="?{{ category_all_articles.previous_page_number.querystring }}" class="pagination__page">
                            <i class="ui-arrow-left"></i>
                        </a>
                    {% endif %}
                    {% for page in category_all_articles.pages %}
                        {% if page %}
                            {% ifequal page category_all_articles.number %}
                                <a href="?{{ page.querystring }}" class="pagination__page">{{ page }}</a>
                            {% else %}
                                <a href="?{{ page.querystring }}" class="pagination__page">{{ page }}</a>
                            {% endifequal %}
                        {% else %}
                            <a href="?{{ page.querystring }}" class="pagination__page">...</a>
                        {% endif %}
                    {% endfor %}
                    {% if category_all_articles.has_next %}
                        <a href="?{{ category_all_articles.next_page_number.querystring }}" class="pagination__page">
                            <i class="ui-arrow-right"></i>
                        </a>
                    {% endif %}
                    <a href="?page={{ last_index }}" class="pagination__page">
                        <i class="ui-arrow-right"></i>
                        <i class="ui-arrow-right"></i>
                    </a>
                </nav>
            </div> <!-- end posts -->

            <!-- Sidebar -->
            <aside class="col-lg-4 sidebar sidebar--right">

                <aside class="widget widget-review-posts">
                    <h4 class="widget-title">热门推荐</h4>
                    {% for category_hot_article in category_hot_articles %}
                        <article class="entry">
                            <div class="entry__img-holder">
                                <a href="{% url 'article:article' category_hot_article.id %}">
                                    <div class="thumb-container thumb-60">
                                        <img data-src="{{ MEDIA_URL }}{{ category_hot_article.img }}"
                                             src="{% static 'img/empty.png' %}"
                                             class="entry__img lazyload" alt="">
                                        <span class="entry-score">{{ category_hot_article.views }}</span>
                                    </div>
                                </a>
                            </div>

                            <div class="entry__body">
                                <div class="entry__header">
                                    <h2 class="entry__title">
                                        <a href="{% url 'article:article' category_hot_article.id %}">{{ category_hot_article.title }}</a>
                                    </h2>
                                    <ul class="entry__meta">
                                        <li class="entry__meta-author">
                                            <span>来自</span>
                                            <a href="#">{{ category_hot_article.user.nick_name }}</a>
                                        </li>
                                        <li class="entry__meta-date">
                                            {{ category_hot_article.modified_time }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                    <button class="btn btn-lg btn-light btn-wide load-more">
                        <span>查看更多 <i class="ui-arrow-down"></i></span>
                    </button>

                </aside> <!-- end widget reviews -->

                <!-- Widget Popular Posts -->
                <aside class="widget widget-popular-posts">
                    <h4 class="widget-title">相关指南</h4>
                    <ul class="post-list-small">
                        {% for category_guide_article in category_guide_articles %}
                            <li class="post-list-small__item">
                                <article class="post-list-small__entry clearfix">
                                    <div class="post-list-small__img-holder">
                                        <div class="thumb-container thumb-100">
                                            <a href="{% url 'article:article' category_guide_article.id %}">
                                                <img data-src="{{ MEDIA_URL }}{{ category_guide_article.img }}"
                                                     src="{% static 'img/empty.png' %}"
                                                     alt="" class=" lazyload">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="post-list-small__body">
                                        <h3 class="post-list-small__entry-title">
                                            <a href="{% url 'article:article' category_guide_article.id %}">{{ category_guide_article.title }}</a>
                                        </h3>
                                        <ul class="entry__meta">
                                            <li class="entry__meta-author">
                                                <span>来自</span>
                                                <a href="#">{{ category_guide_article.user.nick_name }}</a>
                                            </li>
                                            <li class="entry__meta-date">
                                                {{ category_guide_article.modified_time }}
                                            </li>
                                        </ul>
                                    </div>
                                </article>
                            </li>
                        {% endfor %}
                    </ul>

                </aside> <!-- end widget popular posts -->

            </aside> <!-- end sidebar -->

        </div> <!-- end content -->
    </div> <!-- end main container -->

{% endblock %}
{% block custom_js %}
{% endblock %}
{% block body_end %}
    </body>
{% endblock %}
