    <!-- Hero Slider -->
    <section class="hero-slider">
      <div id="owl-hero-slider" class="owl-carousel owl-theme">

        <div class="hero-slider__item">
          <article class="entry thumb">
            <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/hero/hero_post_7.jpg');">
              <div class="bottom-gradient"></div>
              <div class="thumb-text-holder thumb-text-holder--2">
                <h2 class="thumb-entry-title">
                  <a href="article.html">This year's Battlefield is rumored to be set during World War 2</a>
                </h2>
                <ul class="entry__meta">
                  <li class="entry__meta-author">
                    <span>by</span>
                    <a href="#">DeoThemes</a>
                  </li>
                  <li class="entry__meta-date">
                    Jan 21, 2018
                  </li>
                </ul>
              </div>
              <a href="article.html" class="thumb-url"></a>
            </div>
          </article>
        </div>

        <div class="hero-slider__item">
          <article class="entry thumb">
            <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/hero/hero_post_8.jpg');">
              <div class="bottom-gradient"></div>
              <div class="thumb-text-holder thumb-text-holder--2">
                <h2 class="thumb-entry-title">
                  <a href="article.html">'The Witcher 3: Wild Hunt' teases announcement with timer</a>
                </h2>
                <ul class="entry__meta">
                  <li class="entry__meta-author">
                    <span>by</span>
                    <a href="#">DeoThemes</a>
                  </li>
                  <li class="entry__meta-date">
                    Jan 21, 2018
                  </li>
                </ul>
              </div>
              <a href="article.html" class="thumb-url"></a>
            </div>
          </article>
        </div>

        <div class="hero-slider__item">
          <article class="entry thumb">
            <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/hero/hero_post_9.jpg');">
              <div class="bottom-gradient"></div>
              <div class="thumb-text-holder thumb-text-holder--2">
                <h2 class="thumb-entry-title">
                  <a href="article.html">What to do when Virgil isn’t in his cave during “The Glowing Sea”</a>
                </h2>
                <ul class="entry__meta">
                  <li class="entry__meta-author">
                    <span>by</span>
                    <a href="#">DeoThemes</a>
                  </li>
                  <li class="entry__meta-date">
                    Jan 21, 2018
                  </li>
                </ul>
              </div>
              <a href="article.html" class="thumb-url"></a>
            </div>
          </article>
        </div>

        <div class="hero-slider__item">
          <article class="entry thumb">
            <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/hero/hero_post_10.jpg');">
              <div class="bottom-gradient"></div>
              <div class="thumb-text-holder thumb-text-holder--2">
                <h2 class="thumb-entry-title">
                  <a href="article.html">Enjoy the power to create and control people in a virtual world where there are no rules</a>
                </h2>
                <ul class="entry__meta">
                  <li class="entry__meta-author">
                    <span>by</span>
                    <a href="#">DeoThemes</a>
                  </li>
                  <li class="entry__meta-date">
                    Jan 21, 2018
                  </li>
                </ul>
              </div>
              <a href="article.html" class="thumb-url"></a>
            </div>
          </article>
        </div>

        <div class="hero-slider__item">
          <article class="entry thumb">
            <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/hero/hero_post_11.jpg');">
              <div class="bottom-gradient"></div>
              <div class="thumb-text-holder thumb-text-holder--2">
                <h2 class="thumb-entry-title">
                  <a href="article.html">Software piracy with Rare's Sea of Thieves: Hands-on E3 preview</a>
                </h2>
                <ul class="entry__meta">
                  <li class="entry__meta-author">
                    <span>by</span>
                    <a href="#">DeoThemes</a>
                  </li>
                  <li class="entry__meta-date">
                    Jan 21, 2018
                  </li>
                </ul>
              </div>
              <a href="article.html" class="thumb-url"></a>
            </div>
          </article>
        </div>

        <div class="hero-slider__item">
          <article class="entry thumb">
            <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/hero/hero_post_12.jpg');">
              <div class="bottom-gradient"></div>
              <div class="thumb-text-holder thumb-text-holder--2">
                <h2 class="thumb-entry-title">
                  <a href="article.html">Why Horizon Zero Dawn is my game of the year received surprisingly positive reviews</a>
                </h2>
                <ul class="entry__meta">
                  <li class="entry__meta-author">
                    <span>by</span>
                    <a href="#">DeoThemes</a>
                  </li>
                  <li class="entry__meta-date">
                    Jan 21, 2018
                  </li>
                </ul>
              </div>
              <a href="article.html" class="thumb-url"></a>
            </div>
          </article>
        </div>

      </div>
    </section> <!-- end hero slider -->

    <div class="main-container container pt-24" id="main-container">

      <!-- Ad Banner 970 -->
      <div class="text-center pb-48">
        <a href="#">
          <img src="img/content/placeholder_970.jpg" alt="">
        </a>
      </div>

      <!-- Content -->
      <div class="row">

        <!-- Posts -->
        <div class="col-lg-8 blog__content">

          <!-- News by Categories -->
          <section class="section mb-16">
            <div class="title-wrap">
              <h3 class="section-title">news by categories</h3>
            </div>

            <div class="row">
              <div class="col-md-6">
                <article class="entry">
                  <ul class="entry__meta">
                    <li class="entry__meta-category">
                      <a href="#">news</a>
                    </li>
                  </ul>
                  <div class="entry__img-holder">
                    <a href="article.html">
                      <div class="thumb-container thumb-75">
                        <img data-src="img/content/grid/grid_post_21.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                      </div>
                    </a>
                  </div>

                  <div class="entry__body">
                    <div class="entry__header">
                      <h2 class="entry__title">
                        <a href="article.html">Top Upcoming Open World RPG Games of 2018  is quickly approaching</a>
                      </h2>
                      <ul class="entry__meta">
                        <li class="entry__meta-author">
                          <span>by</span>
                          <a href="#">DeoThemes</a>
                        </li>
                        <li class="entry__meta-date">
                          Jan 21, 2018
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
                <ul class="post-list-small post-list-small--3">
                  <li class="post-list-small__item">
                    <article class="post-list-small__entry clearfix">
                      <div class="post-list-small__img-holder">
                        <div class="thumb-container thumb-80">
                          <a href="article.html">
                            <img data-src="img/content/post_small/post_small_25.jpg" src="img/empty.png" alt="" class="lazyload">
                          </a>
                        </div>
                      </div>
                      <div class="post-list-small__body">
                        <h3 class="post-list-small__entry-title">
                          <a href="article.html">'Final Fantasy XV' DLC roadmap news: Plan for expansions to extend until 2019</a>
                        </h3>
                        <ul class="entry__meta">
                          <li class="entry__meta-author">
                            <span>by</span>
                            <a href="#">DeoThemes</a>
                          </li>
                          <li class="entry__meta-date">
                            Jan 21, 2018
                          </li>
                        </ul>
                      </div>
                    </article>
                  </li>
                  <li class="post-list-small__item">
                    <article class="post-list-small__entry clearfix">
                      <div class="post-list-small__img-holder">
                        <div class="thumb-container thumb-80">
                          <a href="article.html">
                            <img data-src="img/content/post_small/post_small_26.jpg" src="img/empty.png" alt="" class=" lazyload">
                          </a>
                        </div>
                      </div>
                      <div class="post-list-small__body">
                        <h3 class="post-list-small__entry-title">
                          <a href="article.html">Days Gone Gamepley Demo Shows Motorcycle Rides, Brutal Fights</a>
                        </h3>
                        <ul class="entry__meta">
                          <li class="entry__meta-author">
                            <span>by</span>
                            <a href="#">DeoThemes</a>
                          </li>
                          <li class="entry__meta-date">
                            Jan 21, 2018
                          </li>
                        </ul>
                      </div>
                    </article>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <article class="entry">
                  <ul class="entry__meta">
                    <li class="entry__meta-category">
                      <a href="#">reviews</a>
                    </li>
                  </ul>
                  <div class="entry__img-holder">
                    <a href="article.html">
                      <div class="thumb-container thumb-75">
                        <img data-src="img/content/grid/grid_post_22.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                      </div>
                    </a>
                  </div>

                  <div class="entry__body">
                    <div class="entry__header">
                      <h2 class="entry__title">
                        <a href="article.html">Tracing The Lineage Of S.T.A.L.K.E.R.: Shadow Of Chernobyl</a>
                      </h2>
                      <ul class="entry__meta">
                        <li class="entry__meta-author">
                          <span>by</span>
                          <a href="#">DeoThemes</a>
                        </li>
                        <li class="entry__meta-date">
                          Jan 21, 2018
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
                <ul class="post-list-small post-list-small--3">
                  <li class="post-list-small__item">
                    <article class="post-list-small__entry clearfix">
                      <div class="post-list-small__img-holder">
                        <div class="thumb-container thumb-80">
                          <a href="article.html">
                            <img data-src="img/content/post_small/post_small_27.jpg" src="img/empty.png" alt="" class=" lazyload">
                          </a>
                        </div>
                      </div>
                      <div class="post-list-small__body">
                        <h3 class="post-list-small__entry-title">
                          <a href="article.html">The Uncompromising Vision Of Co-op Title A Way Out</a>
                        </h3>
                        <ul class="entry__meta">
                          <li class="entry__meta-author">
                            <span>by</span>
                            <a href="#">DeoThemes</a>
                          </li>
                          <li class="entry__meta-date">
                            Jan 21, 2018
                          </li>
                        </ul>
                      </div>
                    </article>
                  </li>
                  <li class="post-list-small__item">
                    <article class="post-list-small__entry clearfix">
                      <div class="post-list-small__img-holder">
                        <div class="thumb-container thumb-80">
                          <a href="article.html">
                            <img data-src="img/content/post_small/post_small_28.jpg" src="img/empty.png" alt="" class=" lazyload">
                          </a>
                        </div>
                      </div>
                      <div class="post-list-small__body">
                        <h3 class="post-list-small__entry-title">
                          <a href="article.html">Sega accidentally released a glitched demo of Yakuza 6</a>
                        </h3>
                        <ul class="entry__meta">
                          <li class="entry__meta-author">
                            <span>by</span>
                            <a href="#">DeoThemes</a>
                          </li>
                          <li class="entry__meta-date">
                            Jan 21, 2018
                          </li>
                        </ul>
                      </div>
                    </article>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <article class="entry">
                  <ul class="entry__meta">
                    <li class="entry__meta-category">
                      <a href="#">PS4</a>
                    </li>
                  </ul>
                  <div class="entry__img-holder">
                    <a href="article.html">
                      <div class="thumb-container thumb-75">
                        <img data-src="img/content/grid/grid_post_23.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                      </div>
                    </a>
                  </div>

                  <div class="entry__body">
                    <div class="entry__header">
                      <h2 class="entry__title">
                        <a href="article.html">Why Horizon Zero Dawn is my game of the year received surprisingly positive reviews</a>
                      </h2>
                      <ul class="entry__meta">
                        <li class="entry__meta-author">
                          <span>by</span>
                          <a href="#">DeoThemes</a>
                        </li>
                        <li class="entry__meta-date">
                          Jan 21, 2018
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
                <ul class="post-list-small post-list-small--3">
                  <li class="post-list-small__item">
                    <article class="post-list-small__entry clearfix">
                      <div class="post-list-small__img-holder">
                        <div class="thumb-container thumb-80">
                          <a href="article.html">
                            <img data-src="img/content/post_small/post_small_29.jpg" src="img/empty.png" alt="" class=" lazyload">
                          </a>
                        </div>
                      </div>
                      <div class="post-list-small__body">
                        <h3 class="post-list-small__entry-title">
                          <a href="article.html">‘Far Cry 5’ evolves the franchise without trying to fix anything that wasn’t broken</a>
                        </h3>
                        <ul class="entry__meta">
                          <li class="entry__meta-author">
                            <span>by</span>
                            <a href="#">DeoThemes</a>
                          </li>
                          <li class="entry__meta-date">
                            Jan 21, 2018
                          </li>
                        </ul>
                      </div>
                    </article>
                  </li>
                  <li class="post-list-small__item">
                    <article class="post-list-small__entry clearfix">
                      <div class="post-list-small__img-holder">
                        <div class="thumb-container thumb-80">
                          <a href="article.html">
                            <img data-src="img/content/post_small/post_small_30.jpg" src="img/empty.png" alt="" class=" lazyload">
                          </a>
                        </div>
                      </div>
                      <div class="post-list-small__body">
                        <h3 class="post-list-small__entry-title">
                          <a href="article.html">Kingdom Hearts 3 Trailer Shows Monsters Inc. World</a>
                        </h3>
                        <ul class="entry__meta">
                          <li class="entry__meta-author">
                            <span>by</span>
                            <a href="#">DeoThemes</a>
                          </li>
                          <li class="entry__meta-date">
                            Jan 21, 2018
                          </li>
                        </ul>
                      </div>
                    </article>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <article class="entry">
                  <ul class="entry__meta">
                    <li class="entry__meta-category">
                      <a href="#">videos</a>
                    </li>
                  </ul>
                  <div class="entry__img-holder">
                    <a href="article.html">
                      <div class="thumb-container thumb-75">
                        <img data-src="img/content/grid/grid_post_24.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                      </div>
                    </a>
                  </div>

                  <div class="entry__body">
                    <div class="entry__header">
                      <h2 class="entry__title">
                        <a href="article.html">Software piracy with Rare's Sea of Thieves: Hands-on E3 preview</a>
                      </h2>
                      <ul class="entry__meta">
                        <li class="entry__meta-author">
                          <span>by</span>
                          <a href="#">DeoThemes</a>
                        </li>
                        <li class="entry__meta-date">
                          Jan 21, 2018
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
                <ul class="post-list-small post-list-small--3">
                  <li class="post-list-small__item">
                    <article class="post-list-small__entry clearfix">
                      <div class="post-list-small__img-holder">
                        <div class="thumb-container thumb-80">
                          <a href="article.html">
                            <img data-src="img/content/post_small/post_small_31.jpg" src="img/empty.png" alt="" class=" lazyload">
                          </a>
                        </div>
                      </div>
                      <div class="post-list-small__body">
                        <h3 class="post-list-small__entry-title">
                          <a href="article.html">With a mix of dynamic stealth and high-flying action, Spider-Man</a>
                        </h3>
                        <ul class="entry__meta">
                          <li class="entry__meta-author">
                            <span>by</span>
                            <a href="#">DeoThemes</a>
                          </li>
                          <li class="entry__meta-date">
                            Jan 21, 2018
                          </li>
                        </ul>
                      </div>
                    </article>
                  </li>
                  <li class="post-list-small__item">
                    <article class="post-list-small__entry clearfix">
                      <div class="post-list-small__img-holder">
                        <div class="thumb-container thumb-80">
                          <a href="article.html">
                            <img data-src="img/content/post_small/post_small_32.jpg" src="img/empty.png" alt="" class=" lazyload">
                          </a>
                        </div>
                      </div>
                      <div class="post-list-small__body">
                        <h3 class="post-list-small__entry-title">
                          <a href="article.html">Today is filled with details about Red Dead Redemption II.</a>
                        </h3>
                        <ul class="entry__meta">
                          <li class="entry__meta-author">
                            <span>by</span>
                            <a href="#">DeoThemes</a>
                          </li>
                          <li class="entry__meta-date">
                            Jan 21, 2018
                          </li>
                        </ul>
                      </div>
                    </article>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <article class="entry">
                  <ul class="entry__meta">
                    <li class="entry__meta-category">
                      <a href="#">xbox</a>
                    </li>
                  </ul>
                  <div class="entry__img-holder">
                    <a href="article.html">
                      <div class="thumb-container thumb-75">
                        <img data-src="img/content/grid/grid_post_25.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                      </div>
                    </a>
                  </div>

                  <div class="entry__body">
                    <div class="entry__header">
                      <h2 class="entry__title">
                        <a href="article.html">Enjoy the power to create and control people in a virtual world where there are no rules</a>
                      </h2>
                      <ul class="entry__meta">
                        <li class="entry__meta-author">
                          <span>by</span>
                          <a href="#">DeoThemes</a>
                        </li>
                        <li class="entry__meta-date">
                          Jan 21, 2018
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
                <ul class="post-list-small post-list-small--3">
                  <li class="post-list-small__item">
                    <article class="post-list-small__entry clearfix">
                      <div class="post-list-small__img-holder">
                        <div class="thumb-container thumb-80">
                          <a href="article.html">
                            <img data-src="img/content/post_small/post_small_33.jpg" src="img/empty.png" alt="" class=" lazyload">
                          </a>
                        </div>
                      </div>
                      <div class="post-list-small__body">
                        <h3 class="post-list-small__entry-title">
                          <a href="article.html">Cuphead was the clear winner, gathering nearly half of the votes. At 49 percent</a>
                        </h3>
                        <ul class="entry__meta">
                          <li class="entry__meta-author">
                            <span>by</span>
                            <a href="#">DeoThemes</a>
                          </li>
                          <li class="entry__meta-date">
                            Jan 21, 2018
                          </li>
                        </ul>
                      </div>
                    </article>
                  </li>
                  <li class="post-list-small__item">
                    <article class="post-list-small__entry clearfix">
                      <div class="post-list-small__img-holder">
                        <div class="thumb-container thumb-80">
                          <a href="article.html">
                            <img data-src="img/content/post_small/post_small_34.jpg" src="img/empty.png" alt="" class=" lazyload">
                          </a>
                        </div>
                      </div>
                      <div class="post-list-small__body">
                        <h3 class="post-list-small__entry-title">
                          <a href="article.html">Best Nintendo Game – The Legend of Zelda: Breath of the Wild</a>
                        </h3>
                        <ul class="entry__meta">
                          <li class="entry__meta-author">
                            <span>by</span>
                            <a href="#">DeoThemes</a>
                          </li>
                          <li class="entry__meta-date">
                            Jan 21, 2018
                          </li>
                        </ul>
                      </div>
                    </article>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <article class="entry">
                  <ul class="entry__meta">
                    <li class="entry__meta-category">
                      <a href="#">PC</a>
                    </li>
                  </ul>
                  <div class="entry__img-holder">
                    <a href="article.html">
                      <div class="thumb-container thumb-75">
                        <img data-src="img/content/grid/grid_post_26.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                      </div>
                    </a>
                  </div>

                  <div class="entry__body">
                    <div class="entry__header">
                      <h2 class="entry__title">
                        <a href="article.html">What to do when Virgil isn’t in his cave during “The Glowing Sea”</a>
                      </h2>
                      <ul class="entry__meta">
                        <li class="entry__meta-author">
                          <span>by</span>
                          <a href="#">DeoThemes</a>
                        </li>
                        <li class="entry__meta-date">
                          Jan 21, 2018
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
                <ul class="post-list-small post-list-small--3">
                  <li class="post-list-small__item">
                    <article class="post-list-small__entry clearfix">
                      <div class="post-list-small__img-holder">
                        <div class="thumb-container thumb-80">
                          <a href="article.html">
                            <img data-src="img/content/post_small/post_small_35.jpg" src="img/empty.png" alt="" class=" lazyload">
                          </a>
                        </div>
                      </div>
                      <div class="post-list-small__body">
                        <h3 class="post-list-small__entry-title">
                          <a href="article.html">Best PC Exclusive – Divinity: Original Sin II</a>
                        </h3>
                        <ul class="entry__meta">
                          <li class="entry__meta-author">
                            <span>by</span>
                            <a href="#">DeoThemes</a>
                          </li>
                          <li class="entry__meta-date">
                            Jan 21, 2018
                          </li>
                        </ul>
                      </div>
                    </article>
                  </li>
                  <li class="post-list-small__item">
                    <article class="post-list-small__entry clearfix">
                      <div class="post-list-small__img-holder">
                        <div class="thumb-container thumb-80">
                          <a href="article.html">
                            <img data-src="img/content/post_small/post_small_36.jpg" src="img/empty.png" alt="" class=" lazyload">
                          </a>
                        </div>
                      </div>
                      <div class="post-list-small__body">
                        <h3 class="post-list-small__entry-title">
                          <a href="article.html">Deep Rock Galactic Is A Cooperative Blast</a>
                        </h3>
                        <ul class="entry__meta">
                          <li class="entry__meta-author">
                            <span>by</span>
                            <a href="#">DeoThemes</a>
                          </li>
                          <li class="entry__meta-date">
                            Jan 21, 2018
                          </li>
                        </ul>
                      </div>
                    </article>
                  </li>
                </ul>
              </div>
            </div>

          </section> <!-- end news by categories -->

        </div> <!-- end posts -->

        <!-- Sidebar -->
        <aside class="col-lg-4 sidebar sidebar--right">

          <!-- Widget Socials -->
          <aside class="widget widget-socials">
            <h4 class="widget-title">Let's hang out on social</h4>
            <div class="socials socials--wide socials--large">
              <div class="row row-16">
                <div class="col">
                  <a class="social social-facebook" href="#" title="facebook" target="_blank" aria-label="facebook">
                    <i class="ui-facebook"></i>
                    <span class="social__text">Facebook</span>
                  </a><!--
                  --><a class="social social-twitter" href="#" title="twitter" target="_blank" aria-label="twitter">
                    <i class="ui-twitter"></i>
                    <span class="social__text">Twitter</span>
                  </a><!--
                  --><a class="social social-youtube" href="#" title="youtube" target="_blank" aria-label="youtube">
                    <i class="ui-youtube"></i>
                    <span class="social__text">Youtube</span>
                  </a>
                </div>
                <div class="col">
                  <a class="social social-google-plus" href="#" title="google" target="_blank" aria-label="google">
                    <i class="ui-google"></i>
                    <span class="social__text">Google+</span>
                  </a><!--
                  --><a class="social social-instagram" href="#" title="instagram" target="_blank" aria-label="instagram">
                    <i class="ui-instagram"></i>
                    <span class="social__text">Instagram</span>
                  </a><!--
                  --><a class="social social-rss" href="#" title="rss" target="_blank" aria-label="rss">
                    <i class="ui-rss"></i>
                    <span class="social__text">Rss</span>
                  </a>
                </div>
              </div>
            </div>
          </aside> <!-- end widget socials -->

          <!-- Widget Popular Posts -->
          <aside class="widget widget-popular-posts">
            <h4 class="widget-title">Top Picks</h4>
            <ul class="post-list-small">
              <li class="post-list-small__item">
                <article class="post-list-small__entry clearfix">
                  <div class="post-list-small__img-holder">
                    <div class="thumb-container thumb-100">
                      <a href="article.html">
                        <img data-src="img/content/post_small/post_small_37.jpg" src="img/empty.png" alt="" class="post-list-small__img--rounded lazyload">
                      </a>
                    </div>
                  </div>
                  <div class="post-list-small__body">
                    <h3 class="post-list-small__entry-title">
                      <a href="article.html">Follow These Smartphone Habits of Successful Entrepreneurs</a>
                    </h3>
                    <ul class="entry__meta">
                      <li class="entry__meta-author">
                        <span>by</span>
                        <a href="#">DeoThemes</a>
                      </li>
                      <li class="entry__meta-date">
                        Jan 21, 2018
                      </li>
                    </ul>
                  </div>
                </article>
              </li>
              <li class="post-list-small__item">
                <article class="post-list-small__entry clearfix">
                  <div class="post-list-small__img-holder">
                    <div class="thumb-container thumb-100">
                      <a href="article.html">
                        <img data-src="img/content/post_small/post_small_38.jpg" src="img/empty.png" alt="" class="post-list-small__img--rounded lazyload">
                      </a>
                    </div>
                  </div>
                  <div class="post-list-small__body">
                    <h3 class="post-list-small__entry-title">
                      <a href="article.html">Lose These 12 Bad Habits If You're Serious About Becoming a Millionaire</a>
                    </h3>
                    <ul class="entry__meta">
                      <li class="entry__meta-author">
                        <span>by</span>
                        <a href="#">DeoThemes</a>
                      </li>
                      <li class="entry__meta-date">
                        Jan 21, 2018
                      </li>
                    </ul>
                  </div>
                </article>
              </li>
              <li class="post-list-small__item">
                <article class="post-list-small__entry clearfix">
                  <div class="post-list-small__img-holder">
                    <div class="thumb-container thumb-100">
                      <a href="article.html">
                        <img data-src="img/content/post_small/post_small_39.jpg" src="img/empty.png" alt="" class="post-list-small__img--rounded lazyload">
                      </a>
                    </div>
                  </div>
                  <div class="post-list-small__body">
                    <h3 class="post-list-small__entry-title">
                      <a href="article.html">June in Africa: Taxi wars, smarter cities and increased investments</a>
                    </h3>
                    <ul class="entry__meta">
                      <li class="entry__meta-author">
                        <span>by</span>
                        <a href="#">DeoThemes</a>
                      </li>
                      <li class="entry__meta-date">
                        Jan 21, 2018
                      </li>
                    </ul>
                  </div>
                </article>
              </li>
              <li class="post-list-small__item">
                <article class="post-list-small__entry clearfix">
                  <div class="post-list-small__img-holder">
                    <div class="thumb-container thumb-100">
                      <a href="article.html">
                        <img data-src="img/content/post_small/post_small_40.jpg" src="img/empty.png" alt="" class="post-list-small__img--rounded lazyload">
                      </a>
                    </div>
                  </div>
                  <div class="post-list-small__body">
                    <h3 class="post-list-small__entry-title">
                      <a href="article.html">PUBG Desert Map Finally Revealed, Here Are All The Details</a>
                    </h3>
                    <ul class="entry__meta">
                      <li class="entry__meta-author">
                        <span>by</span>
                        <a href="#">DeoThemes</a>
                      </li>
                      <li class="entry__meta-date">
                        Jan 21, 2018
                      </li>
                    </ul>
                  </div>
                </article>
              </li>
            </ul>
          </aside> <!-- end widget popular posts -->

          <!-- Widget Reviews -->
          <aside class="widget widget-review-posts">
            <h4 class="widget-title">Game Reviews</h4>
            <article class="entry">
              <div class="entry__img-holder">
                <a href="article.html">
                  <div class="thumb-container thumb-60">
                    <img data-src="img/content/review/review_post_3.jpg" src="img/empty.png" class="entry__img lazyload" alt="">
                    <span class="entry-score">9.2</span>
                  </div>
                </a>
              </div>

              <div class="entry__body">
                <div class="entry__header">
                  <h2 class="entry__title">
                    <a href="article.html">Deep Rock Galactic Is A Cooperative Blast</a>
                  </h2>
                  <ul class="entry__meta">
                    <li class="entry__meta-author">
                      <span>by</span>
                      <a href="#">DeoThemes</a>
                    </li>
                    <li class="entry__meta-date">
                      Jan 21, 2018
                    </li>
                  </ul>
                </div>
              </div>
            </article>
            <article class="entry">
              <div class="entry__img-holder">
                <a href="article.html">
                  <div class="thumb-container thumb-60">
                    <img data-src="img/content/review/review_post_4.jpg" src="img/empty.png" class="entry__img lazyload" alt="">
                    <span class="entry-score">8.9</span>
                  </div>
                </a>
              </div>

              <div class="entry__body">
                <div class="entry__header">
                  <h2 class="entry__title">
                    <a href="article.html">With a mix of dynamic stealth and high-flying action, Spider-Man</a>
                  </h2>
                  <ul class="entry__meta">
                    <li class="entry__meta-author">
                      <span>by</span>
                      <a href="#">DeoThemes</a>
                    </li>
                    <li class="entry__meta-date">
                      Jan 21, 2018
                    </li>
                  </ul>
                </div>
              </div>
            </article>
            <article class="entry">
              <div class="entry__img-holder">
                <a href="article.html">
                  <div class="thumb-container thumb-60">
                    <img data-src="img/content/review/review_post_5.jpg" src="img/empty.png" class="entry__img lazyload" alt="">
                    <span class="entry-score">8.5</span>
                  </div>
                </a>
              </div>

              <div class="entry__body">
                <div class="entry__header">
                  <h2 class="entry__title">
                    <a href="article.html">With a mix of dynamic stealth and high-flying action, Spider-Man</a>
                  </h2>
                  <ul class="entry__meta">
                    <li class="entry__meta-author">
                      <span>by</span>
                      <a href="#">DeoThemes</a>
                    </li>
                    <li class="entry__meta-date">
                      Jan 21, 2018
                    </li>
                  </ul>
                </div>
              </div>
            </article>

            <button class="btn btn-lg btn-light btn-wide load-more">
              <span>Load More <i class="ui-arrow-down"></i></span>
            </button>

          </aside> <!-- end widget reviews -->

        </aside> <!-- end sidebar -->

      </div> <!-- end content -->
    </div> <!-- end main container -->

    <!-- Footer -->
    <footer class="footer footer--dark">
      <div class="container">
        <div class="footer__widgets">
          <div class="footer__widgets-top">
            <div class="row justify-content-between align-items-center">
              <div class="col-md-4">
                <a href="index.html">
                  <img src="img/logo_games_white.png" srcset="img/logo_games_white.png 1x, img/logo_games_white@2x.png 2x" class="logo__img" alt="">
                </a>
              </div>

              <div class="col-md-6">
                <div class="socials socials--large socials--nobase justify-content-md-end">
                  <a href="#" class="social social-facebook" aria-label="facebook"><i class="ui-facebook"></i></a>
                  <a href="#" class="social social-twitter" aria-label="twitter"><i class="ui-twitter"></i></a>
                  <a href="#" class="social social-google-plus" aria-label="google+"><i class="ui-google"></i></a>
                  <a href="#" class="social social-youtube" aria-label="youtube"><i class="ui-youtube"></i></a>
                  <a href="#" class="social social-instagram" aria-label="instagram"><i class="ui-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-lg-2 col-md-6">
              <aside class="widget widget_nav_menu">
                <h4 class="widget-title">Cover Stories</h4>
                <ul>
                  <li><a href="article.html">Why Horizon Zero Dawn</a></li>
                  <li><a href="article.html">Superman</a></li>
                  <li><a href="article.html">Best Nintendo Game</a></li>
                  <li><a href="article.html">Kingdom Hearts 3</a></li>
                  <li><a href="article.html">Dragon Ball</a></li>
                  <li><a href="article.html">God of War</a></li>
                </ul>
              </aside>
            </div>

            <div class="col-lg-4 col-md-6">
              <aside class="widget widget-twitter">
                <h4 class="widget-title">Latest Tweets</h4>
                <div class="tweets-container">
                  <div id="tweets"></div>
                </div>
              </aside>
            </div>

            <div class="col-lg-2 col-md-6">
              <aside class="widget widget_nav_menu">
                <h4 class="widget-title">Useful Links</h4>
                <ul>
                  <li><a href="about.html">About</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="article.html">Projects</a></li>
                  <li><a href="article.html">Wordpress Themes</a></li>
                  <li><a href="category.html">Advertise</a></li>
                </ul>
              </aside>
            </div>

            <div class="col-lg-4 col-md-6">
              <aside class="widget widget_tag_cloud">
                <h4 class="widget-title">Tags</h4>
                <div class="tagcloud">
                  <a href="#">action</a>
                  <a href="#">adventure</a>
                  <a href="#">console</a>
                  <a href="#">racing</a>
                  <a href="#">RPG</a>
                  <a href="#">strategy</a>
                  <a href="#">top list</a>
                  <a href="#">sport</a>
                  <a href="#">PS4</a>
                  <a href="#">Xbox</a>
                  <a href="#">Virtual Life</a>
                  <a href="#">Science Fiction</a>
                </div>
              </aside>
            </div>

          </div> <!-- end row -->
        </div> <!-- end footer widgets -->
      </div> <!-- end container -->

      <div class="footer__bottom footer__bottom--dark">
        <div class="container text-center">
          <ul class="footer__nav-menu footer__nav-menu--1">
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">News</a></li>
            <li><a href="category.html">Advertise</a></li>
            <li><a href="shortcodes.html">Support</a></li>
            <li><a href="shortcodes.html">Contact</a></li>
          </ul>
          <p class="copyright">
            © 2018 Deus | Made by <a href="http://www.bootstrapmb.com/">DeoThemes</a>
          </p>
        </div>
      </div> <!-- end footer bottom -->
    </footer> <!-- end footer -->

    <div id="back-to-top">
      <a href="#top" aria-label="Go to top"><i class="ui-arrow-up"></i></a>
    </div>



  <!-- jQuery Scripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/easing.min.js"></script>
  <script src="js/owl-carousel.min.js"></script>
  <script src="js/flickity.pkgd.min.js"></script>
  <script src="js/twitterFetcher_min.js"></script>
  <script src="js/jquery.newsTicker.min.js"></script>
  <script src="js/modernizr.min.js"></script>
  <script src="js/scripts.js"></script>

</body>
</html>